  
  <header class="h navbar navbar-expand-lg bg-body-tertiary border-bottom sticky-to container-fluid">
    <div class="h-partition">
      <!-- Hamburger button -->
      <div class="hamburger" id="hamburger">
        &#9776; <!-- Unicode hamburger icon -->
      </div>

      <!-- Sidebar navbar -->
      <nav class="left-navbar " id="sidebar">
        <a id="nav-home" href="#">Home</a>
        <div class="menu">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Gallery</a>
            </li>
          </ul>
        </div>
      </nav>
    
      <div class="home"><a class="nav-link " aria-current="page" href="/">Home</a></div>
    </div>
</header>





