<% layout("/layouts/boilerplate") %>

<div id="victimSection" class="role">
    <div class="x">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Submit Request</h5>
            <p class="card-text">Send urgent help request with your location.</p>
            <a href="/request" class="btn btn-primary">Go to Submit</a>
          </div>
        </div> 

        <div class="card" style="width: 18rem;">
          <div class="card-body">
          <h5 class="card-title">My Request</h5>
          <p class="card-text">see your request for help</p>
          <a href="/my_request" class="btn btn-primary">View</a>
          </div>
        </div> 
    </div>  
</div>